:root {
    /* declare a variable with `--` syntax */
    --darkback:rgb(150, 150, 235);
    --purpleMe: rgb(150, 150, 235, 0.4);
}


@media screen and (min-width: 480px) {
/* remove spaces between main elements*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }



/*set the items in body to be display flexible vertically*/
body {
    display:flex;
    flex-direction: column;
}

/* set the background, font color and flexbox settings  for header section*/
#header {
    background-color: rgb(74, 64, 95);
    color: rgb(217, 217, 241);
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* changing color for links */
#header a {
    color: var(--darkback);
    text-decoration: none;
    border-bottom: 4px solid;
}

/* name box */
#name {
    background-color: var(--purpleMe);
    border-radius: 10px;
    color: black;
    margin: 5px;
    padding: 7px;
}

/* links towards right and spaced by using a flexbox */
.list {
    width: 30%;
    display : flex;
    flex-direction: row;
    justify-content: space-around;

    margin-right: 30px;
}

/* background stretched all width with message item on the right bottom*/
#firstBackground {
    width: 100%;
    height: 200px;
    background-image: url(../images/02-hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
/* test */
/* phot of me floatin left under name */
img {
    position : absolute;
    float: left;
    margin-top: 250px;
    margin-left: 20px;
}


/* message style */
#cool {
    background-color: rgb(150, 150, 247, 0.7);
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
}

/* the three sections are style in a horizontal flexbox each*/
#aboutMe, #work, #contactMe {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    }

/* the main  */
#work {
    height: 500px;
    margin-top: -10px;
}

/* styling for left side of "work" section */
.tab {
    border-right: 2px solid black;
    width: 15%;
    margin-right: 5px;
    text-align: right;
    padding-right: 5px;
    }

    /* styling width size for right side  */
.right_side_info {
    width: 85%;
    margin-left: 5px;
}

/* stying the grid of "work" section */
#projects-grid {
    margin-top: 0px;
    display: grid;
    padding-left: 5px;
    grid-template-areas:"surf surf"
                        "led calculator"
                        "pastel run";
    height: 500px;
    gap: 10px;
}

/* the styling for grid items */
#projects-grid a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 3px solid var(--darkback);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#surf {
    min-height: 210px;
    grid-area: surf;
    background-image: url(../images/02-portfolio-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
}

#surf:hoover {
    min-height: 210px;
    grid-area: surf;
    background-image: url(../images/02-portfolio-4.jpg);
    filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
}


#led {
    grid-area: led;
    background-image: url(../images/02-portfolio-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#calculator {
    grid-area: calculator;
    background-image: url(../images/02-portfolio-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pastel {
    grid-area: pastel;
    background-image: url(../images/02-portfolio-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#run {
    grid-area: run;
    background-image: url(../images/runbuddy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

/* style for text box from inside grid items */
.project_items {
    display: flex;
    flex-direction: column-reverse;
}
.text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    padding: 0;
    border: 2px solid black;
    max-height: fit-content;
    font-weight: 700;
    align-self: flex-start;
    background-color: var(--purpleMe)
}

span {
    font-size: xx-small;
}

#work a {
    text-decoration: none;
    margin-bottom: 10px;
}

/* styling for footer */
#contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
    
}

#contacts a {
    font-weight: 900;
    text-decoration: none;
    border-bottom: 4px solid ;
}

}




/* second media - mobile phone  */

@media screen and (max-width: 479px) {
    /* remove spaces between main elements*/
    * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        padding: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 1.5;
      }
    
    
    
    /*set the items in body to be display flexible vertically*/
    body {
        display:flex;
        flex-direction: column;
    }
    
    /* set the background, font color and flexbox settings  for header section*/
    #header {
        background-color: rgb(74, 64, 95);
        color: rgb(217, 217, 241);
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    /* changing color for links */
    #header a {
        color: var(--darkback);
        text-decoration: none;
        border-bottom: 4px solid;
    }
    
    /* name box */
    #name {
        background-color: var(--purpleMe);
        border-radius: 10px;
        color: black;
        margin: 5px;
        padding: 7px;
    }
    
    /* links towards right and spaced by using a flexbox */
    .list {
        width: 30%;
        display : flex;
        flex-direction: row;
        justify-content: space-around;
    
        margin-right: 30px;
    }
    
    /* background stretched all width with message item on the right bottom*/
    #firstBackground {
        width: 100%;
        height: 200px;
        background-image: url(../images/02-hero-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    /* test */
    /* phot of me floatin left under name */
    img {
        position : absolute;
        float: left;
        margin-top: 250px;
        margin-left: 20px;
    }
    
    
    /* message style */
    #cool {
        background-color: rgb(150, 150, 247, 0.7);
        margin: 10px;
        padding: 5px;
        border-radius: 7px;
    }
    
    /* the three sections are style in a horizontal flexbox each*/
    #aboutMe, #work, #contactMe {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 20px;
        }
    
    /* the main  */
    #work {
        height: 500px;
        margin-top: -10px;
    }
    
    /* styling for left side of "work" section */
    .tab {
        border-right: 2px solid black;
        width: 15%;
        margin-right: 5px;
        text-align: right;
        padding-right: 5px;
        }
    
        /* styling width size for right side  */
    .right_side_info {
        width: 85%;
        margin-left: 5px;
    }
    
    /* stying the grid of "work" section */
    #projects-grid {
        margin-top: 0px;
        display: grid;
        padding-left: 5px;
        grid-template-areas:"surf"
                            "led"
                            "calculator"
                            "pastel"
                             "run";
        height: 500px;
        gap: 10px;
    }
    
    /* the styling for grid items */
    #projects-grid a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 3px solid var(--darkback);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    #surf {
        min-height: 210px;
        grid-area: surf;
        background-image: url(../images/02-portfolio-4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 20px;
    }
    
    #surf:hoover {
        min-height: 210px;
        grid-area: surf;
        background-image: url(../images/02-portfolio-4.jpg);
        filter: blur(10px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 20px;
    }
    
    
    #led {
        grid-area: led;
        background-image: url(../images/02-portfolio-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #calculator {
        grid-area: calculator;
        background-image: url(../images/02-portfolio-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #pastel {
        grid-area: pastel;
        background-image: url(../images/02-portfolio-3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    #run {
        grid-area: run;
        background-image: url(../images/runbuddy.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    /* style for text box from inside grid items */
    .project_items {
        display: flex;
        flex-direction: column-reverse;
    }
    .text_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: black;
        padding: 0;
        border: 2px solid black;
        max-height: fit-content;
        font-weight: 700;
        align-self: flex-start;
        background-color: var(--purpleMe)
    }
    
    span {
        font-size: xx-small;
    }
    
    #work a {
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    /* styling for footer */
    footer {
       position: relative;
        margin-bottom: -200px;    }
    
    #contacts {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
        
    }
    
    #contacts a {
        font-weight: 900;
        text-decoration: none;
        border-bottom: 4px solid ;
    }
    
    }
    
    
    